.header {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 10px;
  font-weight: bold;
}
.containerDate {
  align-items: center;
  background-color: #60635f;
  border-radius: 5px;
  border-color: #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  padding-left: 5px;
  margin-right: 10px;
}

.formSelectDate {
  height: 38px;
  width: 150px;
  color: #60635f;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  border-color: #ccc;
  font-family: Arial, FontAwesome;
  padding-left: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.buttonAplicar {
  display: flex;
  align-items: center;
  background-color: #abd34e;
  border: none;
  height: 38px;
  padding: 0px 10px 0px 10px;
  color: #000;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s, border-color 0.3s, color 0.3s;
}

.buttonAplicar:hover {
  background-color: #d5ff71;
}
.buttonAplicar:disabled {
  background-color: #a9a9a9;
  cursor: not-allowed;
}
