.headerTable {
  width: 100%;
  border-collapse: collapse;
}

.headerTable th,
.headerTable td {
  border: 1px solid #dddddd;
  padding: 6px;
  text-align: left;
  height: 44px;
  white-space: nowrap;
}

.headerTable th {
  background-color: #f2f2f2;
}

.headerTable th:last-child,
.headerTable td:last-child {
  width: 70px;
  white-space: nowrap; /* Evitar que el contenido se ajuste automáticamente */
}

.headerTable .spinner-border {
  margin-top: 10%;
  width: 100px;
  height: 100px;
}

.NoData {
  text-align: center;
  padding: 16px;
  color: #555;
}

/* Estilos para filas impares */
.headerTable tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.headerTable tbody tr:nth-child(even) {
  background-color: #f2f2f2;
  color: #333;
}
