* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0f1014;
  color: white;
}

.login {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  flex-direction: column;
}
.logo-container {
  max-width: 100%; /* Ajusta el ancho máximo según sea necesario */
  margin: 0 auto; /* Centra el logo horizontalmente */
}
.logo {
  max-width: 100%; /* Limita el ancho máximo del logo al tamaño de su contenedor */
  height: 90%;
}
.formulario {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.formulario label {
  display: block; /* Esto garantiza que cada label se muestre en una línea nueva */
  text-align: left;
  font-size: 1.2rem;
  color: #abd34e;
  width: 20%;
}

.formulario input {
  padding: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: -10px;
  width: 20%;
}

.formulario button {
  padding: 10px;
  background-color: #abd34e;
  color: #0f1014;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  width: 20%;
}

.formulario button:hover {
  background-color: #d8fa89;
}

.buildPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  font-size: 34px;
  font-weight: bold;
}
.iconBuild {
  height: 100px;
  width: 100px;
}

.containerGeneralAPP {
  display: flex;
  flex-direction: column;
  /* border: solid blue 2px; */
  height: 100vh;
}
section {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: #60635f;
}
header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #0f1014;
  height: 70px;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  width: 100%;
}

.iconUser {
  color: #abd34e;
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-right: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.iconUser:hover {
  color: #d5ff71;
}
.bodyContainer {
  display: flex;
  /* border: red solid 2px; */
  height: 100%;
  /*   width: 100%; */
}
nav.smallActive {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 72px;
  justify-content: space-around;
  /*  justify-content: flex-start; */
  background-color: #0f1014;
}

nav.smallActive a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
}

nav.smallInactive {
  display: none;
}
.iconMenu {
  width: 40px;
  height: 40px;
  color: #abd34e;
  cursor: pointer;
}

.iconMenu:hover {
  color: #d5ff71;

  border-radius: 10px;
}

nav.bigInactive {
  display: none;
}

nav.bigActive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* justify-content: flex-start; */
  width: 270px;
  background-color: #0f1014;
}

nav.bigActive span {
  color: #abd34e;
  padding: 10px 18px;
  /*  text-decoration: none; */
  font-size: 1.4rem;
  white-space: nowrap;
}
.itemMenu {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 90%;
  text-decoration: none;
  cursor: pointer;
}

.itemMenu:hover {
  background-color: rgb(58, 58, 58);
  border-radius: 10px;
  width: 98%;
}

.itemMenu:hover * {
  color: #abd34e;
}
